{% extends "master.html" %}

{% block title %}
  RouteMaster - Contact Us
{% endblock %}

{% block content %}
<div class="container">

    <a href="/booking/"><button class="bookingbutton" style="font-weight: bold; position: absolute; right: 25; top: 10; height: 60; width: 240; font-size: 22;  border-radius: 8px;"> Κάντε κράτηση εδώ!</button></a> 

    <div style="position:absolute; top: 0;">  
        <h1 style="text-align: center;">Contact Us</h1>

            <table style="text-align: center; font-size: 20;">
                <thead>
                    <tr>
                        <th style="width: 250;">Όνομα</th>
                        <th style="width: 250;">ΑΜ</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td>Ασπρούδης Γεώργιος</td>
                        <td>19390024</td>
                    </tr>
                    <tr>
                        <td>Καλόφωνος Νικόλαος</td>
                        <td>19390074</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
{% endblock %}